# Ignore SSH keys
ticketly-key
ticketly-key.pub

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log
crash.*.log

# Exclude sensitive data
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json